/* applied to all tags or universal property */
* {
  margin: 0px;
  padding: 0px;
}

#sample {
  color: white;
  background: black;

  padding-left: 10px;
  /* padding: 10px ; */
  /* both axis  */

  /* padding: 10px 20px; */
  /* y-axis x-axis */

  /* padding: 10px 20px 30px 40px; */
  /* top right bottom left */
}

/* if the link is visited */
a:visited {
  color: darkblue;
}

a {
  text-decoration: none;
  /* used to remove underline from 'a' tag */

  color: white;
  font-weight: 800;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-style: italic; */

  /* above three line will be written as 
  font: font-style font-width font-family;
  font: italic 50px 'Gill Sans'; */

  /* importing external fonts */
  font-family: "Oswald", sans-serif;
}

nav > ul > li {
  list-style: none;
  /* used to remove dot from list */
}

/* applied to both 'a' and 'p' tag */

nav {
  background: black;
}

.header {
  background: lightblue;
}

.header-span {
  background: lightgray;
}
