/* applied to all tags or universal property */
* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 25px;
}

.heading {
  color: white;
}

.desc {
  font: size 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 5px 0;
}

.btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;
}

.btn:hover {
  /* background-color: black;
  color: white;
  border: 1px solid white; */

  /* invert the colors used  or color inversion */
  filter: invert(1);
  cursor: pointer;
}

/* .card {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
} */

.headlink {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  border: 20px solid red;
  /* width: 200px; */
  font-size: 20px;
  box-sizing: border-box;
  height: 70vh;
  width: 70vw;
  /* vw and ch is percentage of viewport width and height respectively */
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;

  /* set the alignment of text help to format */
  text-align: justify;
}

#c1 {
  /* float: left; */
  /* float a element to left */
  font-size: 2em;
  /* em --> 2 * parent size */
}

#c2 {
  /* float: right; */
  /* float a element to right */
  width: 200px;
  font-size: 3rem;
  /* rem --> 3 * html root */
}

#c3 {
  /* clear: both; */
  /* you can use left or right  */
  /* avoid the effect of float */
  width: 70%;
}

.head_test {
  border: 2px solid red;
  width: 500px;
  height: 1000px;
  margin: auto;
  padding-top: 50px;
  /* can not give inline to parent if its child element is block */
}

.img_test {
  border: 1px solid black;
  border-radius: 100px;
  margin: auto;
  display: block;

  /* position: relative; */
  /* change position from its actual position */

  /* position: absolute; */
  /* position from its parent  */

  /* position: fixed; */
  /* position relative browser window  */

  /* position: sticky; */
  /* position from its parent  */
  top: 0px;
}

.para_test {
  color: white;
  background: gray;
  width: 100px;
  /* display: inline-block; */
  /* given to a make bloack element inine, so that it take only space needed and 
  also has block properties, so we can adjust its width */
  margin: auto;
  text-align: center;
}
