/* applied to all tags or universal property */
* {
  margin: 0px;
  padding: 0px;
}

.header {
  background: rgb(204, 168, 168);
  margin: 10px;
  padding: 10px;

  /* border-width: 5px;
  border-color: red;
  border-style: double; */
  border: 2px black solid;
  /* above 3 lines can be run using this */

  /* border for any specific side */
  border-color: black;
  border-style: solid;
  /* border-left: 10px;
  border-right: 10px; */

  border-radius: 20px;
  /* border-top-left-radius: 50px;
  border-bottom-right-radius: 50px; */
}

.heading {
  color: white;
}
